html {
     background-color:#36486b;
}

#error {
  color: red;
}

body {
    background-color: #4040a1;
    text-align: center;
    padding:7.5%;
    padding-top: 2.5%;
    padding-bottom: 2.5%;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    border-radius: 10px;
}

#buttonBox{
    background-color: #fefbd8;
    min-width: 50%;
    min-height: 15%;
    font-size: 3em;
    padding: 5%;
    text-align: center;
    border-style: solid;
    border-radius: 10px;
    border-color: black;
    border-width: 2px;
}

textarea {
    resize: none;
    font-size: 2em;
}

#top {
  display: inline-block;
  min-width: 50%;
  text-align: center;
}
#top2 {
  display: inline-block;
  min-width: 50%;
  text-align: center;
  font-size: 2em;
}

#text {
    margin-bottom: 2.5%;
    min-height:4em;
}



button {
    font-size: 0.75em;
    padding:0.25em;
    background-color: #618685;
    margin: 2.5%;
    border-color:black;
}

input {
    font-size: 0.75em;
    padding:0.25em;
    background-color: #618685;
    margin: 5px;
    margin-left: 5px;
    border-color:black;
}

h2{
    height: 5%;
    font-size: 2em;
}

h1{
    height:10%;
    font-size:3em;
}
